<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@drawable/logo"

        android:supportsRtl="true"
        android:theme="@style/Theme.Coffe"
        tools:targetApi="31">
        <activity
            android:name=".CappucinoActivity"
            android:exported="false" />
        <activity
            android:name=".notificationActivity"
            android:exported="false" />
        <activity
            android:name=".shopActivity"
            android:exported="false" />
        <activity
            android:name=".favoritesActivity"
            android:exported="false" />
        <activity
            android:name=".homeActivity"
            android:exported="false" />
        <activity
            android:name=".tabActivity"
            android:exported="false"
            android:label="@string/title_activity_tab"
            android:theme="@style/Theme.Coffe.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>